In [28]:
#cleaning outliers
import pandas as pd
main_data = pd.read_excel('cleaned_retail.xlsx')

In [27]:
main_data.head()
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ORDER_NUMBER        10000 non-null  object
 1   ITEM_NUMBER         10000 non-null  int64
 2   INVOICE_DATE        10000 non-null  int64
 3   ORDER_DATE          10000 non-null  int64
 4   CUSTOMER_NUMBER     10000 non-null  int64
 5   CUSTOMER_LOCATION   10000 non-null  int64
 6   CUSTOMER_PROVINCE   10000 non-null  object
 7   ITEM_DESCRIPTION    9928 non-null   object
 8   ITEM_UNIT_QUANTITY  10000 non-null  float64
 9   ITEM_DEPARTMENT     10000 non-null  int64
 10  ITEM_SECTION        10000 non-null  int64
 11  ORDER_QUANTITY      10000 non-null  int64
 12  COMPANY_NAME        10000 non-null  object
 13  AVERAGE_COST_PRICE  10000 non-null  float64
 14  SALES_AMOUNT        10000 non-null  float64
 15  INVOICE_AMOUNT      10000 non-null  float64
 16  COST_PRICE          10000 non-null  float64
 17  ORDER_TYPE          10000 non-null  object
dtypes: float64(5), int64(8), object(5)
memory usage: 1.4+ MB

In [29]:
outliers = pd.read_csv('outliers.csv')
outliers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Company Name        682 non-null    object
 1   Customer Location   682 non-null    int64
 2   Customer Number     682 non-null    int64
 3   Customer Province   674 non-null    object
 4   Invoice Date        682 non-null    object
 5   Item Description    682 non-null    object
 6   Item Number         682 non-null    int64
 7   Order Date          682 non-null    object
 8   Order Number        670 non-null    float64
 9   Order Type          682 non-null    object
 10  Average Cost Price  682 non-null    float64
 11  Cost Price          682 non-null    float64
 12  Invoice Amount      682 non-null    float64
 13  Item Department     682 non-null    int64
 14  Item Section        682 non-null    int64
 15  Item Unit Quantity  682 non-null    float64
 16  Order Quantity      682 non-null    int64
 17  Sales Amount        682 non-null    float64
dtypes: float64(6), int64(6), object(6)
memory usage: 96.0+ KB

In [17]:
main_data.reset_index(drop=True)

,ORDER_NUMBER,SHIPMENT_NUMBER,ITEM_NUMBER,INVOICE_NUMBER,INVOICE_DATE,ORDER_DATE,CUSTOMER_NUMBER,CUSTOMER_LOCATION,CUSTOMER_DEPARTMENT,CUSTOMER_PROVINCE,...,COMPANY_CODE,COMPANY_NAME,COMPANY_NUMBER,AVERAGE_COST_PRICE,SALES_AMOUNT,INVOICE_AMOUNT,COST_PRICE,UPC_NUMBER,PURCHASE_ORDER_NUMBER,ORDER_TYPE
0,6735217,20171129,428714,6735217,20171129,20171128,410,10,9,TEXAS,...,88880,BRANDS GLOBAL CO.,0,0.0,3.36,0.56,0.56,62245427241,0,REGULAR
1,6165708,20190626,408872,6165708,20190626,20190624,1375,1,83,ARIZONA,...,88880,BRANDS GLOBAL CO.,0,0.0,12.00,4.00,4.00,62245427366,0,REGULAR
2,6517073,20180910,354274,6517073,20180910,20180908,2196,1,70,CALIFORNIA,...,88880,BRANDS GLOBAL CO.,0,0.0,7.16,1.79,1.79,62245427478,0,REGULAR
3,6723693,20200513,222679,6723693,20200513,20200509,1934,50,70,ARIZONA,...,88880,BRANDS GLOBAL CO.,0,0.0,19.60,4.90,4.90,62245427708,0,REGULAR
4,6766514,20190128,431999,6766514,20190128,20190125,75379,201,0,TEXAS,...,88880,BRANDS GLOBAL CO.,0,0.0,62.58,10.43,10.43,62245427234,0,REGULAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,5100802,20190403,522110,5100802,20190403,20190329,1560,4,30,MICHIGAN,...,88880,BRANDS GLOBAL CO.,513,0.0,0.00,0.00,0.00,6210700503,0,REGULAR
9996,5462559,20200827,4745048,5462559,20200827,20200825,75161,1,0,MICHIGAN,...,88880,BRANDS GLOBAL CO.,534,0.0,0.00,0.00,0.00,5209220396,0,REGULAR
9997,5165659,20190708,620658,5165659,20190708,20190707,1954,1,62,MICHIGAN,...,88880,BRANDS GLOBAL CO.,528,0.0,0.00,0.00,0.00,5731615615,0,REGULAR
9998,3274935,20200801,177550,3274935,20200801,20200731,2486,4,66,TEXAS,...,88880,BRANDS GLOBAL CO.,0,0.0,0.00,0.00,0.00,7111761369,0,REGULAR
9999,6104799,20201129,398867,6104799,20201129,20201123,15165,1,0,CALIFORNIA,...,72223,THE GROCERY GROUP,0,0.0,0.00,0.00,0.00,6961842031,0,REGULAR

In [18]:
outliers.reset_index(drop=True)

,Company Name,Customer Location,Customer Number,Customer Province,Invoice Date,Item Description,Item Number,Order Date,Order Number,Order Type,Average Cost Price,Cost Price,Invoice Amount,Item Department,Item Section,Item Unit Quantity,Order Quantity,Sales Amount
0,BRANDS GLOBAL CO.,5,208,TEXAS,8/7/2018,NSTL PUR LIFE WATR 28X500,274423,8/5/2018,3617480.0,PROMOTIONAL,0.0,9.15,9.15,30,18,28.0,30,274.50
1,BRANDS GLOBAL CO.,6,2754,CALIFORNIA,5/23/2018,NSTL PUR LIFE WATR 28X500,274423,5/22/2018,1562323.0,PROMOTIONAL,0.0,5.21,5.21,30,18,28.0,30,156.30
2,BRANDS GLOBAL CO.,1,6868,ARIZONA,11/30/2018,PERRIER PINK GRAPEFRUIT,593400,11/29/2018,6672243.0,EMERG TRANSFER,0.0,8.05,8.05,30,18,6.0,112,901.60
3,BRANDS GLOBAL CO.,6,2300,CALIFORNIA,9/2/2019,PARA WEDGE ANCHOR 3/8 X 5-IN 50 PK,4446290,8/30/2019,6296601.0,REGULAR,0.0,31.24,31.24,40,4,1.0,4,124.96
4,BRANDS GLOBAL CO.,25,2486,TEXAS,3/19/2019,LAVATORY FAUCET 1 HANDLE CHROME,5233408,3/18/2019,6863681.0,REGULAR,0.0,39.08,39.08,40,12,1.0,3,117.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,BRANDS GLOBAL CO.,33,2438,TEXAS,4/7/2020,HEREFORD CORNED BEEF,579482,4/5/2020,3186881.0,REGULAR,0.0,95.15,95.15,30,7,24.0,1,95.15
708,BRANDS GLOBAL CO.,6,2312,ARIZONA,10/29/2020,RANGE HOOD 250CFM 30-IN WHITE,5161062,10/28/2020,6948682.0,REGULAR,0.0,150.27,150.27,40,11,1.0,2,300.54
709,BRANDS GLOBAL CO.,6,1811,TEXAS,4/5/2019,FILL CAP ASSEMBLY SC,679555,10/31/2018,9810910.0,PROMOTIONAL,0.0,135.85,135.85,0,40,1.0,2,271.70
710,BRANDS GLOBAL CO.,15,1819,TEXAS,3/21/2018,EXCEL GUM SNGL FLR,573055,3/20/2018,3526566.0,PROMOTIONAL,0.0,157.46,157.46,30,67,216.0,1,157.46
711,BRANDS GLOBAL CO.,1,2806,CALIFORNIA,5/13/2020,CARNIVAL COOKIES 12'S,720946,5/12/2020,3217998.0,PROMOTIONAL,0.0,43.99,43.99,30,55,20.0,3,131.97

In [30]:
main_data = main_data[~main_data['ORDER_NUMBER'].isin(outliers['Order Number'])]

In [31]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9250 entries, 0 to 9927
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ORDER_NUMBER        9250 non-null   object
 1   ITEM_NUMBER         9250 non-null   int64
 2   INVOICE_DATE        9250 non-null   int64
 3   ORDER_DATE          9250 non-null   int64
 4   CUSTOMER_NUMBER     9250 non-null   int64
 5   CUSTOMER_LOCATION   9250 non-null   int64
 6   CUSTOMER_PROVINCE   9250 non-null   object
 7   ITEM_DESCRIPTION    9250 non-null   object
 8   ITEM_UNIT_QUANTITY  9250 non-null   float64
 9   ITEM_DEPARTMENT     9250 non-null   int64
 10  ITEM_SECTION        9250 non-null   int64
 11  ORDER_QUANTITY      9250 non-null   int64
 12  COMPANY_NAME        9250 non-null   object
 13  AVERAGE_COST_PRICE  9250 non-null   float64
 14  SALES_AMOUNT        9250 non-null   float64
 15  INVOICE_AMOUNT      9250 non-null   float64
 16  COST_PRICE          9250 non-null   float64
 17  ORDER_TYPE          9250 non-null   object
dtypes: float64(5), int64(8), object(5)
memory usage: 1.3+ MB

In [32]:
main_data.to_excel("no_outliers.xlsx")

# Dropping columns